<div class="home-page main">


  <section class="grid-wrap" >
    <header class="grid col-full">
      <hr>
      <p class="fleft">Home</p>
      <a href="/about.html" class="arrow fright">History of the Bolshoi Ballet Academy</a>
    </header>

    <div class="grid col-one-half mq2-col-full">

     <%=raw @page.content_for(:body).html_safe %>
   </div>


   <div class="slider grid col-one-half mq2-col-full">
    <div class="flexslider">

      <div class="slides">

        <div class="slide">
          <figure>
            <img src="img/rbi-home-slide-1.jpg" alt="">
            <figcaption>
              <div>
                <h5>The Bolshoi Ballet Academy </h5>
                <p><a href="#">The Bolshoi Ballet Academy</a> was established in 1773 to train the highest caliber Russian talent, but recently we have opened our doors to international students.</p>
              </div>
            </figcaption>
          </figure>
        </div>

        <div class="slide">
          <figure>
            <img src="img/rbi-home-slide-2.jpg" alt="">
            <figcaption>
              <div>
                <h5>SUMMER INTENSIVE</h5>
                <p>Students who meet the required level of technique will be eligible for a cultural dance experience on a trip to the Bolshoi Ballet Academy.</p>
              </div>
            </figcaption>
          </figure>
        </div>

        <div class="slide">
          <figure>
            <img src="img/rbi-home-slide-3.jpg" alt="">
            <figcaption>
              <div>
                <h5>SUMMER SESSIONS</h5>
                <p>Our summer program runs for four weeks and students may come for any duration: from one week to the entire four weeks.  </p>
              </div>
            </figcaption>
          </figure>
        </div>

      </div>
    </div>
  </div>

</section>


<section class="services grid-wrap">
  <header class="grid col-full">
    <hr>
    <p class="fleft">Latest post, <%= @blog_post.published_at.strftime("%H:%M on %m/%d/%y") %></p>
    <a href="/blog" class="arrow fright">read more posts</a>
  </header>

  <article class="grid col-one-half mq2-col-full">



    <h2><a href="/blog/posts/<%= @blog_post.id %>">
      <%= @blog_post.title %></a></h2>
      <%#= strip_tags(@blog_post.body) %>
      <%= @blog_post.body.html_safe %>

    </article>

    <div class="slider grid col-one-half mq2-col-full">

      <img src="https://s3.amazonaws.com/RBIPRODUCTION/2015/10/12/urbino/urbino.png" style="width: 530px">

    </div>
  </div>  

  <div style="text-align: center; margin-top: -4em; margin-bottom: 2em">

    <p style="text-align: center; display: inline-block"><img src="https://s3.amazonaws.com/RBIPRODUCTION/2015/10/12/urbino/logo1.png" style="width: 200px" /></p>

    <p style="text-align: center; display: inline-block; margin: 0 1em 0 1em"><img src="https://s3.amazonaws.com/RBIPRODUCTION/2015/10/12/urbino/logo2.png" style="width: 200px" /></p>

    <p style="text-align: center; display: inline-block"><img src="https://s3.amazonaws.com/RBIPRODUCTION/2015/10/12/urbino/logo3.png" style="width: 200px" /></p>

  </div>

</section>


<section class="services grid-wrap" >
  <header class="grid col-full">
    <hr>
    <p class="fleft">Recent News</p>
    <a href="/blog" class="arrow fright">read more posts</a>
  </header>

  <article class="grid col-one-half mq2-col-full">
    <h2>Bolshoi Ballet Academy Summer Intensive 2015</h2>

      <p>
        2015 was very successful summer program at the Bolshoi Ballet Academy.<br />
        Please check out highlights short film. The longer version is coming soon!!!<br />
        Three dancers had been accepted to a yearly training program at the Bolshoi Ballet Academy in Moscow.<br />
        Congratulations to Sara Frazzetta, Dora Iattici and Noemi de Grandi !!!
      </p>    
  </article>

    <div class="slider grid col-one-half mq2-col-full" style="height: 300px; margin-bottom: 2em">
      <iframe width="530" height="298" src="//www.youtube.com/embed/psYepsQTEeg" frameborder="0" allowfullscreen></iframe>
    </div>
</section>



<section class="services grid-wrap">
  <header class="grid col-full">
    <hr>
    <p class="fleft">Sessions</p>
    <a href="sessions.html" class="arrow fright">see more Sessions</a>
  </header>

  <article class="grid col-one-half mq2-col-full">
    <!--<aside>01</aside>-->
    <h5>ALL WEEKS INCLUDE:</h5>
    <ul style="list-style:disc;margin-left: 15px;">
      <li>Classes at the Academy</li>
      <li>Housing at the Academy</li>
      <li>Meals at the Academy</li>
      <li>Weekend sightseeing trips with translator and tour guide</li>
      <li>Travel from the airport in Moscow and to the airport in Moscow</li>
      <li><a href="mailto:contact@russianballetinternational.com?subject=Visa%20Info">Visa *</a></li>
      <li><a href="mailto:contact@russianballetinternational.com?subject=Air%20Travel%20Info">Air Travel*</a></li>
      <li><a href="mailto:contact@russianballetinternational.com?subject=Travel%20Insurance">Travel Insurance*</a></li>
    </ul>
  </article>  

  <div class="slider grid col-one-half mq2-col-full">

    <div style="height: 300px; margin-bottom: 2em">
      <iframe width="530" height="298" src="//www.youtube.com/embed/x8FLjgb0eNw?rel=0" frameborder="0" allowfullscreen></iframe>

    </div>

  </section>

  <section class="works grid-wrap">
    <header class="grid col-full">
      <hr>
      <p class="fleft">Gallery</p>
      <a href="gallery-section/" class="arrow fright">see more Gallery</a>
    </header>


    <%= render "layouts/gallery" %>

  </section>

</div>
<!--main-->