<html class="no-js" lang="en">
<head>
  <title>Russian Ballet International →</title>
  <meta charset="UTF-8">
  <meta name="Description" http-equiv="Description" content="Welcome to Russian Ballet International Online." />
  <meta name="Keywords" http-equiv="Keywords" content="russian ballet, russian ballet international, bolshoi ballet academy, ballet summer program, ballet dance class in russia, russian ballet technique, ballet class in moscow, russian ballet video, russian ballet college, russian ballet company, dance classes in russia" />


    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="author"  content=" original site by Andrei Bourtsev, Web Designer, atlantidabay.com + new backend by Matt Lucas, MattLucas.co">




  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>



  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
  <link rel="shortcut icon" type="image/png" href="favicon.png">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
  

  <meta name="google-site-verification" content="QrjOqXrTS8ScqTALcualvdjJ9nqisHxPqwPA98y8u4o" />

</head>

<body>
<div class="container">

  
  <!--header start-->
  <!--#include virtual="/includes/header.html" -->

  <%= render "layouts/header" %>
  <!--header end-->

<div class="home-page main">
    

    <section class="grid-wrap" >
      <header class="grid col-full">
        <hr>
        <p class="fleft">Home</p>
        <a href="about.html" class="arrow fright">History of the Bolshoi Ballet Academy</a>
      </header>

      <div class="grid col-one-half mq2-col-full">
      <%= yield %>
      
      <!-- this is the title text at the top of the page -->


<!--         <h1>Bolshoi Ballet Academy now offers an annual summer program in Moscow.</h1>
        <p>Each day the students take three dance classes covering range of techniques, including Russian Ballet, Pointe class, Partnering, Character dance, Historical dance, Classical repertory and stretching. Our current, year-round faculty teaches all of these classes for our summer exchange students. </p> -->


      </div>


      <div class="slider grid col-one-half mq2-col-full">
        <div class="flexslider">
          <div class="slides">
            <div class="slide">
              <figure>
                <img src="img/rbi-home-slide-1.jpg" alt="">
                <figcaption>
                  <div>
                    <h5>The Bolshoi Ballet Academy </h5>
                    <p><a href="#">The Bolshoi Ballet Academy</a> was established in 1773 to train the highest caliber Russian talent, but recently we have opened our doors to international students.</p>
                  </div>
                </figcaption>
              </figure>
            </div>

            <div class="slide">
              <figure>
                <img src="img/rbi-home-slide-2.jpg" alt="">
                <figcaption>
                  <div>
                    <h5>SUMMER INTENSIVE</h5>
                    <p>Students who meet the required level of technique will be eligible for a cultural dance experience on a trip to the Bolshoi Ballet Academy.</p>
                  </div>
                </figcaption>
              </figure>
            </div>

            <div class="slide">
              <figure>
                <img src="img/rbi-home-slide-3.jpg" alt="">
                <figcaption>
                  <div>
                    <h5>SUMMER SESSIONS</h5>
                    <p>Our summer program runs for four weeks and students may come for any duration: from one week to the entire four weeks.  </p>
                  </div>
                </figcaption>
              </figure>
            </div>

          </div>
        </div>
      </div>

    </section>









    <section class="services grid-wrap">
      <header class="grid col-full">
        <hr>
        <p class="fleft">Latest News</p>
        <a href="videos.html" class="arrow fright">see more Videos</a>
      </header>

      <article class="grid col-one-half mq2-col-full">




        <!--LATEST NEWS START HERE-->
 


        <!-- <h5>bolshoi academy summer intensive 2013</h5>
        <p>2013 was an amazing summer at the Bolshoi. Please check out our new video for some of the highlights.
          <p>
            Four dancers from Finland, Haiti and Taiwan had been accepted to a yearly training program at the Bolshoi Ballet Academy in Moscow.
            <p>
              Congratulations to Anna Patomaki, Anael Barrau, Kuo Jung-An and Pan, Cheng-Hui!!!</p> -->
            

            </article>
            <div class="slider grid col-one-half mq2-col-full">

              <div style="height: 300px;">
                <iframe width="530" height="298" src="//www.youtube.com/embed/OotCV7euoQU" frameborder="0" allowfullscreen></iframe>
                <!--<iframe id="hp-player" src="//www.youtube.com/embed/gzbiZDSaZMQ" frameborder="0" allowfullscreen></iframe>-->
                <!--LATEST NEWS START END-->


              </div>
            </div>  
          </section>

          <section class="services grid-wrap">
            <header class="grid col-full">
              <hr>
              <p class="fleft">Sessions</p>
              <a href="sessions.html" class="arrow fright">see more Sessions</a>
            </header>

            <article class="grid col-full">
              <!--<aside>01</aside>-->
              <h5>ALL WEEKS INCLUDE:</h5>
              <ul style="list-style:disc;margin-left: 15px;">
                <li>Classes at the Academy</li>
                <li>Housing at the Academy</li>
                <li>Meals at the Academy</li>
                <li>Weekend sightseeing trips with translator and tour guide</li>
                <li>Travel from the airport in Moscow and to the airport in Moscow</li>
                <li><a href="mailto:contact@russianballetinternational.com?subject=Visa%20Info">Visa *</a></li>
                <li><a href="mailto:contact@russianballetinternational.com?subject=Air%20Travel%20Info">Air Travel*</a></li>
                <li><a href="mailto:contact@russianballetinternational.com?subject=Travel%20Insurance">Travel Insurance*</a></li>
              </ul>

            </article>  
          </section>

<!--          <section class="works grid-wrap">
            <header class="grid col-full">
              <hr>
              <p class="fleft">Gallery</p>
              <a href="gallery.html" class="arrow fright">see more Gallery</a>
            </header> -->

<!--<figure class="grid col-one-quarter mq2-col-one-half">
          <a href="#" style="margin-bottom:-5px;">
      <iframe src="//www.youtube.com/embed/OotCV7euoQU" frameborder="0" allowfullscreen></iframe>
            </a>
      <figcaption>
        <a href="videos.html" class="arrow">Summer Intensive 2013</a>
      </figcaption>
    </figure>-->
    
<section class="works grid-wrap">
<header class="grid col-full">
      <hr>
      <p class="fleft">Gallery</p>
      <a href="gallery.html" class="arrow fright">see more Gallery</a>
    </header>
  
<!--<figure class="grid col-one-quarter mq2-col-one-half">
            <a href="#" style="margin-bottom:-5px;">
        <iframe src="//www.youtube.com/embed/OotCV7euoQU" frameborder="0" allowfullscreen></iframe>
              </a>
        <figcaption>
          <a href="videos.html" class="arrow">Summer Intensive 2013</a>
        </figcaption>
</figure>-->

      <figure class="grid col-one-quarter mq2-col-one-half">
        <a href="master-teachers-class.html#mt-1">
        <img src="img/gallery/master-teachers/mt-1.jpg" alt="Bolshoi Academy Master Teachers Class">
        <span class="zoom"></span>
        </a>
        <figcaption>
          <a href="master-teachers-class.html#mt-1" class="arrow">Master Teachers Class</a> 
            </figcaption>
      </figure>

      <figure class="grid col-one-quarter mq2-col-one-half">
        <a href="taiwan.html#taiwan-5">
        <img src="img/gallery/taiwan/taiwan-5-IMG_1005.jpg" alt="Audition in Tawain<">
        <span class="zoom"></span>
        </a>
        <figcaption>
          <a href="taiwan.html#taiwan-5" class="arrow">Audition in Tawain</a>
        </figcaption>
      </figure>
    
      <figure class="grid col-one-quarter mq2-col-one-half">
        <a href="master-teachers-class.html#mt-2">
        <img src="img/gallery/master-teachers/mt-2.jpg" alt="Bolshoi Academy Master Teachers Class">
        <span class="zoom"></span>
        </a>
        <figcaption>
        <a href="master-teachers-class.html#mt-2" class="arrow">Master Teachers Class</a> 
                </figcaption>
      </figure>
    
      <figure class="grid col-one-quarter mq2-col-one-half">
        <a href="summer2013.html#2013-18">
        <img src="img/gallery/2013/18.jpg" alt="Summer 2013 Sessions">
        <span class="zoom"></span>
        </a>
        <figcaption>
          <a href="summer2013.html#2013-18" class="arrow">Summer 2013 Sessions</a>
        </figcaption>
      </figure>
  </section>
  </div>
<!--main-->



<!-- test blog -->


<% content_for :body do %>
  <%= raw @page.content_for(Refinery::Pages.default_parts.first.to_sym) if Refinery::Pages.default_parts.any? %>

  <% if @posts.present? %>
    <section id="blog_posts">
      <%= render :partial => "/refinery/blog/shared/post", :collection => @posts %>
      <%= will_paginate @posts %>
    </section>
  <% else %>
    <p><%= t('.no_blog_articles_yet') %></p>
  <% end %>
<% end %>

<% content_for :side_body_prepend do -%>
  <%= raw @page.content_for(Refinery::Pages.default_parts.second.to_sym) %>
<% end if Refinery::Pages.default_parts.many? -%>

<%= render "/refinery/content_page" %>
<% content_for :stylesheets, stylesheet_link_tag('refinery/blog/frontend') %>






<!-- test blog -->


  <!--footer start-->
  <div class="divide-top">
    <footer class="grid-wrap">
      <!--#include virtual="/includes/footer.html" -->
      <%= render "layouts/footer" %>
    </footer>
  </div>
  <!--footer end-->
</div>

<!-- Javascript - jQuery -->
<!-- <script src="http://code.jquery.com/jquery.min.js"></script>  -->
<!-- <script>window.jQuery || document.write('<script src="js/jquery-1.7.2.min.js"><\/script>')</script> -->

<!--[if (gte IE 6)&(lte IE 8)]>
  <script src="js/selectivizr.js"></script>
<![endif]-->

<script src="js/jquery.flexslider-min.js"></script>
<!-- <script src="js/scripts.js"></script>-->
<!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID. -->
<script>
  var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
<!-- </body> -->

</body>
</html>